.field_doc > * {
    margin-left: 1.5em;
}

.field_doc > p {
    margin-left: 1.5em;
    margin-top: 0.5em;
}

.tomldoc details > summary {
    font-size: 1.6em;
    font-weight: bold;
    font-family:  "Open Sans", sans-serif;
    cursor: pointer;

    list-style: none;
}

.tomldoc details > summary:before {
    color: var(--fbc-secondary-text);
    font-size: 0.7em;
    margin-right: 5px;
    font-family: monospace, monospace !important;
    content: "[+]"
}

.tomldoc details[open] > summary {
    padding-bottom: 5px;
    border-bottom: 2px solid var(--table-border-color);
}
.tomldoc details[open] > summary:before {
    content: "[-]"
}

.tomldoc > details > *:not(summary) {
    margin-left: 1.5em;
}

details.enum_field_docs > summary {
    font-size: 1.2em;
}

.tomldoc h2 {
    margin: 1em auto;
}

.tomldoc h3 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.tomldoc_type {
    font-family: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace, monospace !important;
    color: var(--inline-code-color);
}

.tomldoc_param_name::after {
    content: " -";
    color: var(--fbc-secondary-text);
}
.tomldoc_param_name {
    font-family: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace, monospace !important;
    color: var(--fg);
    background-color: none;
}


/* Stolen from https://stackoverflow.com/questions/31399071 */
:target {
    animation: target-fade 2s;
}

/**
 * Keyframe animation definition
 * 
 * 1. Insert a color of your choice here
 */

@keyframes target-fade {
    from { background-color: var(--sidebar-active); } /* [1] */
    to { background-color: transparent; }
}

